<div class="min-w-full">
  <div class="md:h-[50vh]">
    <img
      class="w-full h-[100%] object-cover object-bottom"
      src="/about_us_hero_image.jpeg"
    />
  </div>
  <!-- Grid -->
  <div class="">
    <div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto">
      <div class="mt-5 lg:mt-8 flex flex-col items-start gap-2 sm:gap-3">
        <div class="w-full sm:w-auto lg:text-xl">
          <p>
            Welcome to <b>Sudoyantra!</b> We're dedicated to crafting innovative
            technologies and solutions that safeguard and optimize energy
            consumption in various industries and utility sectors. Our mission
            is to enhance electrical power's safety, reliability, efficiency,
            and sustainability.<br />
            <br />From the beginning of the design process, we collaborate
            closely with our valued customers to comprehend their unique
            obstacles. In doing so, we customize our product development and
            service offerings to boost operational efficiency.
          </p>
        </div>

        <!-- <a
              class="w-full sm:w-auto inline-flex justify-start items-start gap-x-3 bg-blue-600 hover:bg-blue-700 border border-transparent text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800"
              href="#contact"
            >
              Request demo
            </a> -->
      </div>

      <!-- Brands -->
      <div class="mt-6 lg:mt-12">
        <span
          class="text-xs font-bold text-gray-800 uppercase dark:text-gray-200"
          >Key Features:</span
        >

        <div class="flex mt-4 gap-8 flex-wrap px-4">
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
              />
            </svg>
            AI
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
              />
            </svg>
            Data-driven
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
              />
            </svg>
            Autonomous
          </p>
          <p class="flex gap-x-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"
              />
            </svg>
            Predictive Maintenance
          </p>

          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
              />
            </svg>

            Scada and Internet Connectivity
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
              />
            </svg>

            Auto alarm system
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
              />
            </svg>
            Work in Rain and Dust
          </p>
        </div>
      </div>
      <!-- End Brands -->
    </div>
    <!-- End Col -->

    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- Mission section -->
<div
  class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 bg-slate-100 bg-bottom !bg-opacity-10"
>
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <!-- Announcement Banner -->
    <div class="flex justify-center">
      <a
        class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-sm text-gray-800 p-1 pl-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-200"
        href="#contact"
      >
        Where Technology Meets Sustainability
        <span
          class="py-2 px-3 inline-flex justify-center items-center gap-x-2 rounded-full bg-gray-200 font-semibold text-sm text-gray-600 dark:bg-gray-700 dark:text-gray-400"
        >
          <svg
            class="w-2.5 h-2.5"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
          >
            <path
              d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
            />
          </svg>
        </span>
      </a>
    </div>
    <!-- End Announcement Banner -->

    <!-- Title -->
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-gray-700 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
      >
        Our
        <span
          class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"
          >Mission</span
        >
      </h1>
    </div>
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Grid -->
      <div class="grid lg:grid-cols-2 lg:gap-y-16 gap-10">
        <!-- Card -->
        <a class="group rounded-xl overflow-hidden" href="#blog">
          <div class="sm:flex">
            <div
              class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
            >
              <img
                class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                src="/site/devikot_site3.jpg"
                alt="Image Description"
              />
            </div>

            <div class="grow mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
              <h3
                class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-300 dark:group-hover:text-white"
              >
                Elevating Solar Power
              </h3>
              <p class="mt-3 text-gray-600 dark:text-gray-400">
                We specialize in making photovoltaic energy systems work and
                their specialized maintenance services.
              </p>
              <p
                class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium"
              >
                Read more
                <svg
                  class="w-2.5 h-2.5"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </p>
            </div>
          </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="group rounded-xl overflow-hidden" href="#blog">
          <div class="sm:flex">
            <div
              class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
            >
              <img
                class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                src="/header/four-principles-of-organisational-excellence-which-every-small-business-should-know.webp"
                alt="Image Description"
              />
            </div>

            <div class="grow mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
              <h3
                class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-300 dark:group-hover:text-white"
              >
                Prioritizing Excellence
              </h3>
              <p class="mt-3 text-gray-600 dark:text-gray-400">
                Our primary focus is leading the market through exceptional
                quality.
              </p>
              <p
                class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium"
              >
                Read more
                <svg
                  class="w-2.5 h-2.5"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </p>
            </div>
          </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="group rounded-xl overflow-hidden" href="#blog">
          <div class="sm:flex">
            <div
              class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
            >
              <img
                class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                src="/header/new-ideas.jpg"
                alt="Image new ideads"
              />
            </div>

            <div class="grow mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
              <h3
                class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-300 dark:group-hover:text-white"
              >
                Embracing New Ideas
              </h3>
              <p class="mt-3 text-gray-600 dark:text-gray-400">
                We believe in exploring innovative concepts and achieving
                excellence.
              </p>
              <p
                class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium"
              >
                Read more
                <svg
                  class="w-2.5 h-2.5"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </p>
            </div>
          </div>
        </a>
        <!-- End Card -->

        <!-- Card -->
        <a class="group rounded-xl overflow-hidden" href="#blog">
          <div class="sm:flex">
            <div
              class="flex-shrink-0 relative rounded-xl overflow-hidden w-full sm:w-56 h-44"
            >
              <img
                class="group-hover:scale-105 transition-transform duration-500 ease-in-out w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                src="/header/green-future.jpeg"
                alt="Image Description"
              />
            </div>

            <div class="grow mt-4 sm:mt-0 sm:ml-6 px-4 sm:px-0">
              <h3
                class="text-xl font-semibold text-gray-800 group-hover:text-gray-600 dark:text-gray-300 dark:group-hover:text-white"
              >
                Working Together for a Green Future
              </h3>
              <p class="mt-3 text-gray-600 dark:text-gray-400">
                Our vision is to create a world where everyone benefits from
                clean, carbon-free energy.
              </p>
              <p
                class="mt-4 inline-flex items-center gap-x-1.5 text-blue-600 decoration-2 hover:underline font-medium"
              >
                Read more
                <svg
                  class="w-2.5 h-2.5"
                  width="16"
                  height="16"
                  viewBox="0 0 16 16"
                  fill="none"
                >
                  <path
                    d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                    stroke="currentColor"
                    stroke-width="2"
                    stroke-linecap="round"
                  />
                </svg>
              </p>
            </div>
          </div>
        </a>
        <!-- End Card -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Title -->
  </div>
</div>

<!-- Hero -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="grid sm:grid-cols-2 sm:items-center gap-8">
    <div class="sm:order-2">
      <div class="relative pt-[50%] sm:pt-[100%] rounded-lg">
        <img
          class="w-full h-full absolute top-0 left-0 object-cover rounded-lg"
          src="/site/devikot_site4.jpg"
          alt="Image Description"
        />
      </div>
    </div>
    <!-- End Col -->

    <div class="sm:order-1">
      <p
        class="mb-5 inline-flex items-center gap-1.5 py-1.5 px-3 rounded-md text-xs font-medium bg-gray-100 text-gray-800 dark:bg-gray-800 dark:text-gray-200"
      >
        SudoYantra India
      </p>

      <h2
        class="text-2xl font-bold md:text-3xl lg:text-4xl lg:leading-tight xl:text-5xl xl:leading-tight text-gray-800 dark:text-gray-200"
      >
        <a
          class="hover:text-blue-600 dark:text-gray-300 dark:hover:text-white"
          href="#"
        >
          Why Choose <span class="text-indigo-600">Sudoyantra?</span>
        </a>
      </h2>

      <!-- Avatar -->
      <div class="mt-6 sm:mt-10 flex justify-center w-full flex-col gap-2">
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Real-Time Monitoring Dashboard
          </p>
          <p class="text-xs text-gray-500">
            Real-time monitoring and a responsive 24/7 maintenance portal ensure
            uninterrupted performance.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Cost-Efficient Installation
          </p>
          <p class="text-xs text-gray-500">
            Sudoyantra offers cost-effective solar panel cleaning solutions,
            maximizing your ROI.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Efficiency Maximization
          </p>
          <p class="text-xs text-gray-500">
            We optimize your panel efficiency, helping you get the most from
            your solar investment.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Eco-Friendly Cleaning & Green Commitment
          </p>
          <p class="text-xs text-gray-500">
            We address water scarcity by using minimal water in our cleaning
            process, promoting sustainability.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Tailored Solutions
          </p>
          <p class="text-xs text-gray-500">
            Our versatile cleaning options are suitable for all types of solar
            panel setups, providing flexibility.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Customer-Centric Approach
          </p>
          <p class="text-xs text-gray-500">
            We continuously improve our self-charging system based on customer
            feedback.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Long-Term Partnership
          </p>
          <p class="text-xs text-gray-500">
            Sudoyantra commits to long-term service and maintenance, ensuring
            your system's longevity.
          </p>
        </div>
        <div class="ml-3 sm:ml-4">
          <p class="sm:mb-1 font-semibold text-gray-800 dark:text-gray-200">
            Local Manufacturing
          </p>
          <p class="text-xs text-gray-500">
            Proudly supporting 'Make in India,' our in-house manufacturing
            guarantees top-quality products.
          </p>
        </div>
      </div>
      <!-- End Avatar -->
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Hero -->
<!-- End Icon Blocks -->
