<div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8">
  <!-- Grid -->
  <div class="grid lg:grid-cols-7 lg:gap-x-8 xl:gap-x-12 lg:items-center my-8">
    <div class="lg:col-span-3">
      <h1
        class="block text-3xl font-bold text-gray-800 sm:text-4xl md:text-5xl lg:text-6xl dark:text-white"
      >
        About Us
      </h1>
      <p class="mt-3 text-lg text-gray-800 dark:text-gray-400"></p>

      <div class="mt-5 lg:mt-8 flex flex-col items-start gap-2 sm:gap-3">
        <div class="w-full sm:w-auto">
          <p>
            Welcome to <b>Sudoyantra!</b> We're dedicated to crafting innovative
            technologies and solutions that safeguard and optimize energy
            consumption in various industries and utility sectors. Our mission
            is to enhance electrical power's safety, reliability, efficiency,
            and sustainability.<br />
            <br />From the beginning of the design process, we collaborate
            closely with our valued customers to comprehend their unique
            obstacles. In doing so, we customize our product development and
            service offerings to boost operational efficiency.
          </p>
        </div>

        <!-- <a
              class="w-full sm:w-auto inline-flex justify-start items-start gap-x-3 bg-blue-600 hover:bg-blue-700 border border-transparent text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800"
              href="#contact"
            >
              Request demo
            </a> -->
      </div>

      <!-- Brands -->
      <div class="mt-6 lg:mt-12">
        <span
          class="text-xs font-medium text-gray-800 uppercase dark:text-gray-200"
          >Key Features:</span
        >

        <div class="flex mt-4 gap-8 flex-wrap">
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.25 9.75L16.5 12l-2.25 2.25m-4.5 0L7.5 12l2.25-2.25M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
              />
            </svg>
            AI
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
              />
            </svg>
            Data-driven
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
              />
            </svg>
            Autonomous
          </p>
          <p class="flex gap-x-8">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M11.42 15.17L17.25 21A2.652 2.652 0 0021 17.25l-5.877-5.877M11.42 15.17l2.496-3.03c.317-.384.74-.626 1.208-.766M11.42 15.17l-4.655 5.653a2.548 2.548 0 11-3.586-3.586l6.837-5.63m5.108-.233c.55-.164 1.163-.188 1.743-.14a4.5 4.5 0 004.486-6.336l-3.276 3.277a3.004 3.004 0 01-2.25-2.25l3.276-3.276a4.5 4.5 0 00-6.336 4.486c.091 1.076-.071 2.264-.904 2.95l-.102.085m-1.745 1.437L5.909 7.5H4.5L2.25 3.75l1.5-1.5L7.5 4.5v1.409l4.26 4.26m-1.745 1.437l1.745-1.437m6.615 8.206L15.75 15.75M4.867 19.125h.008v.008h-.008v-.008z"
              />
            </svg>
            Predictive Maintenance
          </p>

          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M7.5 14.25v2.25m3-4.5v4.5m3-6.75v6.75m3-9v9M6 20.25h12A2.25 2.25 0 0020.25 18V6A2.25 2.25 0 0018 3.75H6A2.25 2.25 0 003.75 6v12A2.25 2.25 0 006 20.25z"
              />
            </svg>

            Scada and Internet Connectivity
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0M3.124 7.5A8.969 8.969 0 015.292 3m13.416 0a8.969 8.969 0 012.168 4.5"
              />
            </svg>

            Auto alarm system
          </p>
          <p class="flex gap-x-4">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75L11.25 15 15 9.75M21 12c0 1.268-.63 2.39-1.593 3.068a3.745 3.745 0 01-1.043 3.296 3.745 3.745 0 01-3.296 1.043A3.745 3.745 0 0112 21c-1.268 0-2.39-.63-3.068-1.593a3.746 3.746 0 01-3.296-1.043 3.745 3.745 0 01-1.043-3.296A3.745 3.745 0 013 12c0-1.268.63-2.39 1.593-3.068a3.745 3.745 0 011.043-3.296 3.746 3.746 0 013.296-1.043A3.746 3.746 0 0112 3c1.268 0 2.39.63 3.068 1.593a3.746 3.746 0 013.296 1.043 3.746 3.746 0 011.043 3.296A3.745 3.745 0 0121 12z"
              />
            </svg>
            Work in Rain and Dust
          </p>
        </div>
      </div>
      <!-- End Brands -->
    </div>
    <!-- End Col -->

    <div class="lg:col-span-4 mt-2 lg:mt-0">
      <img
        class="w-full rounded-xl"
        src="/devikot_site_6.jpg"
        alt="Image Description"
      />
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>

<!-- Hero -->
<div
  class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-no-repeat before:bg-top before:bg-cover before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 bg-slate-100 bg-bottom !bg-opacity-10"
>
  <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
    <!-- Title -->
    <div class="mt-5 max-w-2xl text-center mx-auto">
      <h1
        class="block font-bold text-gray-700 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
      >
        Our
        <span
          class="bg-clip-text bg-gradient-to-tl from-blue-600 to-violet-600 text-transparent"
          >Mission</span
        >
      </h1>
    </div>
    <!-- End Title -->

    <div class="mt-5 max-w-3xl text-left mx-auto">
      <p class="text-lg text-gray-700 dark:text-gray-400">
        <b>Enhancing Photovoltaic Energy</b>: We specialize in value-added
        operation and maintenance services for photovoltaic energy systems.
        <br />
        <b>Quality Triumphs</b>: Our approach centers on leading the market
        through exceptional quality. <br />
        <b> Embracing Innovation</b>: We believe in pioneering development and
        striving for excellence in all endeavors.
        <br />
        <b>Striving for Harmony</b>: Our vision is to achieve a harmonious,
        zero-carbon future that benefits all stakeholders.
      </p>
    </div>

    <!-- Buttons -->

    <!-- End Buttons -->
  </div>
</div>
<!-- End Hero -->
<!-- End Icon Blocks -->

<!-- component -->
<div
  class="flex bg-slate-100 rounded-xl justify-evenly w-full py-10"
  style="height: 600px"
>
  <div
    class="flex items-center text-center lg:text-left px-8 md:px-12 max-w-7xl w-full"
  >
    <div>
      <h2 class="text-3xl font-semibold text-gray-800 md:text-4xl">
        Why Choose <span class="text-indigo-600">Sudoyantra?</span>
      </h2>
      <div class="flex gap-2 flex-col p-2">
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          Our products and advanced technologies empower customers to safeguard
          their assets and enhance operational efficiency. We are committed to
          delivering solutions that provide security and productivity to
          businesses across sectors.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Choose sustainability</b>: Our products are eco-friendly and
          biodegradable, ensuring safety for your panels and the environment.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Your schedule, your way</b>: Enjoy flexibility with convenient
          scheduling options that cater to your preferences and budget.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Sustainability</b>: We are committed to sustainable energy
          practices, helping our clients contribute to a cleaner and greener
          future.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Satisfaction guaranteed</b>: We stand by our work with a 100%
          satisfaction guarantee and offer a service warranty for added peace of
          mind.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Boost efficiency</b>: Let us enhance your solar panels'
          performance, saving you money and energy. Don't let debris hinder your
          solar power generation.
        </p>
        <p class="mt-2 text-sm text-gray-700 md:text-base">
          <b>Get a free quote</b>: Reach out today to receive a complimentary
          quote for your solar cleaning needs.
        </p>
      </div>
    </div>
    <div
      class="hidden lg:block rounded-xl !w-full !h-full border"
      style="clip-path: polygon(10% 0, 100% 0%, 100% 100%, 0 100%)"
    >
      <img
        src="/devikot_site_3.jpg"
        class="h-full w-full object-cover rounded-xl"
      />
    </div>
  </div>
</div>
