<span>
  <section style="background-repeat: no-repeat" class="background">
    <!-- Hero -->
    <div
      class="relative overflow-hidden before:absolute before:top-0 before:left-1/2 before:bg-no-repeat before:bg-top before:w-full before:h-full before:-z-[1] before:transform before:-translate-x-1/2 dark:before:bg-[url('../svg/component/squared-bg-element-dark.svg')]"
    >
      <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 pt-24 pb-10">
        <!-- Announcement Banner -->
        <div class="flex justify-center">
          <a
            class="inline-flex items-center gap-x-2 bg-white border border-gray-200 text-xs text-gray-600 p-2 px-3 rounded-full transition hover:border-gray-300 dark:bg-gray-800 dark:border-gray-700 dark:hover:border-gray-600 dark:text-gray-400"
            href="#"
            onclick="onNavigate('/#about'); return false;"
            aria-label="Brand"
          >
            SudoYantra India
            <span class="flex items-center gap-x-1">
              <span>Explore</span>
              <svg
                class="w-2.5 h-2.5 text-blue-600"
                width="16"
                height="16"
                viewBox="0 0 16 16"
                fill="none"
              >
                <path
                  d="M5.27921 2L10.9257 7.64645C11.1209 7.84171 11.1209 8.15829 10.9257 8.35355L5.27921 14"
                  stroke="currentColor"
                  stroke-width="2"
                  stroke-linecap="round"
                />
              </svg>
            </span>
          </a>
        </div>
        <!-- End Announcement Banner -->

        <!-- Title -->
        <div class="mt-5 max-w-xl text-center mx-auto">
          <h1
            class="block font-bold text-gray-800 text-4xl md:text-5xl lg:text-6xl dark:text-gray-200"
          >
            Solar Cleaning Easy and Reliable
          </h1>
        </div>
        <!-- End Title -->

        <div class="mt-5 h-16 max-w-3xl text-center mx-auto">
          <!-- <p class="text-lg text-sky-600 dark:text-gray-400">
            Upgrade your solar plant with our cutting-edge technology and enjoy
            the benefits of lower costs, higher performance, and enhanced
            safety.
          </p> -->
        </div>

        <!-- Buttons -->
        <div class="mt-8 grid gap-3 w-full sm:inline-flex sm:justify-center">
          <a
            class="inline-flex justify-center items-center gap-x-3 text-center bg-gradient-to-tl from-blue-600 to-violet-600 hover:from-violet-600 hover:to-blue-600 border border-transparent text-white text-sm font-medium rounded-full focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white py-3 px-4 dark:focus:ring-offset-gray-800"
            href="#"
          >
            Continue with Us
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1.5"
              stroke="currentColor"
              class="w-6 h-6"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
              />
            </svg>
          </a>
        </div>
        <!-- End Buttons -->
      </div>
    </div>
    <!-- End Hero -->

    <!-- Icon Blocks -->
    <div
      class="max-w-[85rem] bg-white px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
    >
      <div class="max-w-4xl mx-auto">
        <!-- Grid -->
        <div
          class="grid md:grid-cols-2 gap-6 lg:gap-12 hs-accordion-group"
          data-hs-accordion-always-open
        >
          <div class="space-y-6 lg:space-y-10">
            <!-- Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
                />
              </svg>

              <div class="w-[80%]">
                <div
                  class="hs-accordion w-full active"
                  id="hs-basic-always-open-heading-one"
                >
                  <h3
                    class="text-base sm:text-lg w-full font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full justify-between font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-one"
                    >
                      Precision Cleaning
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-one"
                    class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Advanced sensors that enable it to identify and target
                      specific areas of the solar panels that require cleaning.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15.75 15.75V18m-7.5-6.75h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V13.5zm0 2.25h.008v.008H8.25v-.008zm0 2.25h.008v.008H8.25V18zm2.498-6.75h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V13.5zm0 2.25h.007v.008h-.007v-.008zm0 2.25h.007v.008h-.007V18zm2.504-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zm0 2.25h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V18zm2.498-6.75h.008v.008h-.008v-.008zm0 2.25h.008v.008h-.008V13.5zM8.25 6h7.5v2.25h-7.5V6zM12 2.25c-1.892 0-3.758.11-5.593.322C5.307 2.7 4.5 3.65 4.5 4.757V19.5a2.25 2.25 0 002.25 2.25h10.5a2.25 2.25 0 002.25-2.25V4.757c0-1.108-.806-2.057-1.907-2.185A48.507 48.507 0 0012 2.25z"
                />
              </svg>

              <div class="">
                <div
                  class="hs-accordion active"
                  id="hs-basic-always-open-heading-2"
                >
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-2"
                    >
                      Autonomous Operation
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-2"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      The solar cleaning robot operates autonomously via the
                      dashboard without going outside manually.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 8.25c0-2.485-2.099-4.5-4.688-4.5-1.935 0-3.597 1.126-4.312 2.733-.715-1.607-2.377-2.733-4.313-2.733C5.1 3.75 3 5.765 3 8.25c0 7.22 9 12 9 12s9-4.78 9-12z"
                />
              </svg>

              <div class="">
                <div class="hs-accordion" id="hs-basic-always-open-heading-one">
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-3"
                    >
                      Safety and Cost Savings
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-3"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Eliminates the need for manual labor on elevated surfaces,
                      reducing the risk of accidents and injuries. Moreover,
                      providing substantial long-term savings for solar panel
                      owners by reducing maintenance costs.
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- End Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M21 10.5h.375c.621 0 1.125.504 1.125 1.125v2.25c0 .621-.504 1.125-1.125 1.125H21M4.5 10.5H18V15H4.5v-4.5zM3.75 18h15A2.25 2.25 0 0021 15.75v-6a2.25 2.25 0 00-2.25-2.25h-15A2.25 2.25 0 001.5 9.75v6A2.25 2.25 0 003.75 18z"
                />
              </svg>

              <div class="">
                <div class="hs-accordion" id="hs-basic-always-open-heading-4">
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-4"
                    >
                      Self-charging capability
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-4"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Autonomously charges itself using solar energy,
                      eliminating the need for manual charging and enabling
                      continuous cleaning cycles.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Icon Block -->
          </div>
          <!-- End Col -->

          <div class="space-y-6 lg:space-y-10">
            <!-- Icon Block -->

            <div class="flex gap-8">
              <svg
                class="flex-shrink-0 h-6 w-6 text-gray-800 dark:text-white"
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M12.75 3.03v.568c0 .334.148.65.405.864l1.068.89c.442.369.535 1.01.216 1.49l-.51.766a2.25 2.25 0 01-1.161.886l-.143.048a1.107 1.107 0 00-.57 1.664c.369.555.169 1.307-.427 1.605L9 13.125l.423 1.059a.956.956 0 01-1.652.928l-.679-.906a1.125 1.125 0 00-1.906.172L4.5 15.75l-.612.153M12.75 3.031a9 9 0 00-8.862 12.872M12.75 3.031a9 9 0 016.69 14.036m0 0l-.177-.529A2.25 2.25 0 0017.128 15H16.5l-.324-.324a1.453 1.453 0 00-2.328.377l-.036.073a1.586 1.586 0 01-.982.816l-.99.282c-.55.157-.894.702-.8 1.267l.073.438c.08.474.49.821.97.821.846 0 1.598.542 1.865 1.345l.215.643m5.276-3.67a9.012 9.012 0 01-5.276 3.67m0 0a9 9 0 01-10.275-4.835M15.75 9c0 .896-.393 1.7-1.016 2.25"
                />
              </svg>

              <div class="" data-hs-accordion-always-open>
                <div
                  class="hs-accordion active"
                  id="hs-basic-always-open-heading-5"
                >
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-5"
                    >
                      Environmental Friendliness
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-5"
                    class="hs-accordion-content w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Minimizes the environmental impact with traditional
                      cleaning methods. Ensures that solar energy generation
                      remains truly green & clean.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M8.25 3v1.5M4.5 8.25H3m18 0h-1.5M4.5 12H3m18 0h-1.5m-15 3.75H3m18 0h-1.5M8.25 19.5V21M12 3v1.5m0 15V21m3.75-18v1.5m0 15V21m-9-1.5h10.5a2.25 2.25 0 002.25-2.25V6.75a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 6.75v10.5a2.25 2.25 0 002.25 2.25zm.75-12h9v9h-9v-9z"
                />
              </svg>

              <div class="" data-hs-accordion-always-open>
                <div class="hs-accordion" id="hs-basic-always-open-heading-7">
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-7"
                    >
                      Intelligent reporting and service
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-7"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      It generates timely reports and also guides when servicing
                      is required via emails.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Icon Block -->

            <!-- Icon Block -->
            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 6h9.75M10.5 6a1.5 1.5 0 11-3 0m3 0a1.5 1.5 0 10-3 0M3.75 6H7.5m3 12h9.75m-9.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-3.75 0H7.5m9-6h3.75m-3.75 0a1.5 1.5 0 01-3 0m3 0a1.5 1.5 0 00-3 0m-9.75 0h9.75"
                />
              </svg>

              <div class="" data-hs-accordion-always-open>
                <div class="hs-accordion" id="hs-basic-always-open-heading-8">
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-8"
                    >
                      Intelligent speed adjustment
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-8"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Our robot automatically adjusts its speed to ensure
                      thorough cleaning while minimizing the cleaning time.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <div class="flex gap-8">
              <svg
                xmlns="http://www.w3.org/2000/svg"
                fill="none"
                viewBox="0 0 24 24"
                stroke-width="1.5"
                stroke="currentColor"
                class="w-6 h-6 flex-shrink-0"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M10.5 19.5h3m-6.75 2.25h10.5a2.25 2.25 0 002.25-2.25v-15a2.25 2.25 0 00-2.25-2.25H6.75A2.25 2.25 0 004.5 4.5v15a2.25 2.25 0 002.25 2.25z"
                />
              </svg>

              <div class="" data-hs-accordion-always-open>
                <div class="hs-accordion" id="hs-basic-always-open-heading-9">
                  <h3
                    class="text-base sm:text-lg font-semibold hs-accordion-active:text-blue-600 text-gray-800 dark:text-gray-200"
                  >
                    <button
                      class="hs-accordion-toggle hs-accordion-active:text-blue-600 inline-flex items-center w-full font-semibold text-left text-gray-800 transition hover:text-gray-500 dark:hs-accordion-active:text-blue-500 dark:text-gray-200 dark:hover:text-gray-400"
                      aria-controls="hs-basic-always-open-collapse-9"
                    >
                      Dashboard alarm system
                    </button>
                  </h3>
                  <div
                    id="hs-basic-always-open-collapse-9"
                    class="hs-accordion-content hidden w-full overflow-hidden transition-[height] duration-300"
                    aria-labelledby="hs-basic-always-open-heading-one"
                  >
                    <p class="mt-1 text-gray-600 dark:text-gray-400">
                      Our robot automatically adjusts its speed to ensure
                      thorough cleaning while minimizing the cleaning time.
                    </p>
                  </div>
                </div>
              </div>
            </div>

            <!-- End Icon Block -->
          </div>
          <!-- End Col -->
        </div>
        <!-- End Grid -->
      </div>
    </div>
    <!-- End Icon Blocks -->
    <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <div class="relative p-6 md:p-16">
        <!-- Grid -->
        <div
          class="relative z-10 lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center"
        >
          <div class="mb-10 lg:mb-0 lg:col-span-6 lg:col-start-8 lg:order-2">
            <h2
              class="text-2xl text-gray-800 font-bold sm:text-3xl dark:text-gray-200"
            >
              Fully Customizable Rules to Meet Your Unique Needs
            </h2>

            <!-- Tab Navs -->
            <nav
              class="grid gap-4 mt-5 md:mt-10"
              aria-label="Tabs"
              role="tablist"
            >
              <button
                type="button"
                class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700 active"
                id="tabs-with-card-item-1"
                data-hs-tab="#tabs-with-card-1"
                aria-controls="tabs-with-card-1"
                role="tab"
              >
                <span class="flex">
                  <svg
                    class="flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"
                    />
                    <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
                  </svg>
                  <span class="grow ml-6">
                    <span
                      class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                      >Advanced tools</span
                    >
                    <span
                      class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200"
                      >Unlocking the Potential of Technology with Advanced
                      Tools: Empowering You to Achieve More.</span
                    >
                  </span>
                </span>
              </button>

              <button
                type="button"
                class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700"
                id="tabs-with-card-item-2"
                data-hs-tab="#tabs-with-card-2"
                aria-controls="tabs-with-card-2"
                role="tab"
              >
                <span class="flex">
                  <svg
                    class="flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"
                    />
                  </svg>
                  <span class="grow ml-6">
                    <span
                      class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                      >Smart Monitoring</span
                    >
                    <span
                      class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200"
                    >
                      Revolutionizing the Way We Monitor and Manage Our
                      World</span
                    >
                  </span>
                </span>
              </button>

              <button
                type="button"
                class="hs-tab-active:bg-white hs-tab-active:shadow-md hs-tab-active:hover:border-transparent text-left hover:bg-gray-200 p-4 md:p-5 rounded-xl dark:hs-tab-active:bg-slate-900 dark:hover:bg-gray-700"
                id="tabs-with-card-item-3"
                data-hs-tab="#tabs-with-card-3"
                aria-controls="tabs-with-card-3"
                role="tab"
              >
                <span class="flex">
                  <svg
                    class="flex-shrink-0 mt-2 h-6 w-6 md:w-7 md:h-7 hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                    xmlns="http://www.w3.org/2000/svg"
                    width="16"
                    height="16"
                    fill="currentColor"
                    viewBox="0 0 16 16"
                  >
                    <path
                      d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"
                    />
                  </svg>
                  <span class="grow ml-6">
                    <span
                      class="block text-lg font-semibold hs-tab-active:text-blue-600 text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
                      >Powerful features</span
                    >
                    <span
                      class="block mt-1 text-gray-800 dark:hs-tab-active:text-gray-200 dark:text-gray-200"
                      >Unleashing the Power of Solar Cleaning: Discover the
                      Powerful Features of Our Robotic Cleaners</span
                    >
                  </span>
                </span>
              </button>
            </nav>
            <!-- End Tab Navs -->
          </div>
          <!-- End Col -->

          <div class="lg:col-span-6">
            <div class="relative">
              <!-- Tab Content -->
              <div>
                <div
                  id="tabs-with-card-1"
                  role="tabpanel"
                  aria-labelledby="tabs-with-card-item-1"
                >
                  <img
                    class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2] min-h-full items-stretch"
                    src="https://ychef.files.bbci.co.uk/live/624x351/p08mn4c2.jpg"
                    alt="Image Description"
                  />
                </div>

                <div
                  id="tabs-with-card-2"
                  class="hidden"
                  role="tabpanel"
                  aria-labelledby="tabs-with-card-item-2"
                >
                  <img
                    class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2]"
                    src="/application/app_2.jpg"
                    alt="Image Description"
                  />
                </div>

                <div
                  id="tabs-with-card-3"
                  class="hidden"
                  role="tabpanel"
                  aria-labelledby="tabs-with-card-item-3"
                >
                  <img
                    class="shadow-xl shadow-gray-200 rounded-xl dark:shadow-gray-900/[.2]"
                    src="/application/app_5.jpg"
                    alt="Image Description"
                  />
                </div>
              </div>
              <!-- End Tab Content -->

              <!-- SVG Element -->
              <div
                class="hidden absolute top-0 right-0 translate-x-20 md:block lg:translate-x-20"
              >
                <svg
                  class="w-16 h-auto text-orange-500"
                  width="121"
                  height="135"
                  viewBox="0 0 121 135"
                  fill="none"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164"
                    stroke="currentColor"
                    stroke-width="10"
                    stroke-linecap="round"
                  />
                  <path
                    d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5"
                    stroke="currentColor"
                    stroke-width="10"
                    stroke-linecap="round"
                  />
                  <path
                    d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874"
                    stroke="currentColor"
                    stroke-width="10"
                    stroke-linecap="round"
                  />
                </svg>
              </div>
            </div>
          </div>
        </div>

        <div class="absolute inset-0 grid grid-cols-12 w-full h-full">
          <div
            class="col-span-full lg:col-span-7 lg:col-start-6 bg-gray-100 w-full h-5/6 rounded-xl sm:h-3/4 lg:h-full dark:bg-white/[.075]"
          ></div>
        </div>
      </div>
    </div>

    <section class="bg-white">
      <div class="mx-auto max-w-screen-xl px-4 py-12 sm:px-6 md:py-16 lg:px-8">
        <div class="mx-auto max-w-3xl text-center">
          <h2 class="text-3xl font-bold text-gray-900 sm:text-4xl">
            Comprehensive Robotics Solutions
          </h2>

          <p class="mt-4 text-gray-500 sm:text-xl">
            We provide two distinct services: custom robot development, where we
            create robots from scratch, and advanced customization services,
            where we enhance and upgrade your existing robots.
          </p>
        </div>

        <div class="mt-8 sm:mt-12">
          <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
            >
              <dt class="order-last text-lg font-medium text-gray-500">
                Custom Robot Development
              </dt>

              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                2
              </dd>
            </div>

            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
            >
              <dt class="order-last text-lg font-medium text-gray-500">
                Available Options
              </dt>

              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                4
              </dd>
            </div>

            <div
              class="flex flex-col rounded-lg border border-gray-100 px-4 py-8 text-center"
            >
              <dt class="order-last text-lg font-medium text-gray-500">
                Happy Clients
              </dt>

              <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl">
                2
              </dd>
            </div>
          </dl>
        </div>
      </div>
    </section>
  </section>

  <div class="max-w-6xl py-10 px-4 sm:px-6 lg:px-8 lg:py-16 mx-auto">
    <div class="max-w-xl text-center mx-auto">
      <div class="mb-5 flex justify-center items-center gap-2">
        <h2
          class="text-2xl font-bold md:text-3xl md:leading-tight dark:text-white"
        >
          Sign up to our newsletter
        </h2>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="w-6 h-6"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M3.75 13.5l10.5-11.25L12 10.5h8.25L9.75 21.75 12 13.5H3.75z"
          />
        </svg>
      </div>

      <form id="subscribe" onsubmit="submitNewsLetter();return false">
        <div
          class="mt-5 lg:mt-8 flex flex-col items-center gap-2 sm:flex-row sm:gap-3"
        >
          <div class="w-full">
            <label for="hero-input" class="sr-only">Search</label>
            <input
              type="email"
              id="hero-input"
              name="hero-input"
              required
              class="py-3 px-4 block w-full border-gray-200 shadow-sm rounded-md focus:z-10 focus:border-blue-500 focus:ring-blue-500 dark:bg-slate-900 dark:border-gray-700 dark:text-gray-400"
              placeholder="Enter your email"
            />
          </div>

          <button
            class="w-full sm:w-auto whitespace-nowrap inline-flex justify-center items-center gap-x-3 text-center bg-blue-600 hover:bg-blue-700 border border-transparent text-white font-medium rounded-md focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-offset-2 focus:ring-offset-white transition py-3 px-4 dark:focus:ring-offset-gray-800"
            type="submit"
            id="subscribe-button"
          >
            Subscribe
          </button>
        </div>
      </form>
      <script>
        const form = document.getElementById("subscribe");
        form.addEventListener("submit", (e) => {
          e.preventDefault();
          const formData = new FormData(form);
          console.log(form);
        });
      </script>
    </div>
  </div>

  <!-- Card Section -->
  <div class="max-w-6xl px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-4 gap-2 sm:gap-6">
      <!-- Card -->
      <a
        class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
        onclick="onNavigate('/#contact'); return false;"
      >
        <div class="p-4 md:p-5">
          <div class="flex">
            <svg
              class="mt-1 shrink-0 w-5 h-5 text-gray-800 dark:text-gray-200"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M15 14s1 0 1-1-1-4-5-4-5 3-5 4 1 1 1 1h8Zm-7.978-1A.261.261 0 0 1 7 12.996c.001-.264.167-1.03.76-1.72C8.312 10.629 9.282 10 11 10c1.717 0 2.687.63 3.24 1.276.593.69.758 1.457.76 1.72l-.008.002a.274.274 0 0 1-.014.002H7.022ZM11 7a2 2 0 1 0 0-4 2 2 0 0 0 0 4Zm3-2a3 3 0 1 1-6 0 3 3 0 0 1 6 0ZM6.936 9.28a5.88 5.88 0 0 0-1.23-.247A7.35 7.35 0 0 0 5 9c-4 0-5 3-5 4 0 .667.333 1 1 1h4.216A2.238 2.238 0 0 1 5 13c0-1.01.377-2.042 1.09-2.904.243-.294.526-.569.846-.816ZM4.92 10A5.493 5.493 0 0 0 4 13H1c0-.26.164-1.03.76-1.724.545-.636 1.492-1.256 3.16-1.275ZM1.5 5.5a3 3 0 1 1 6 0 3 3 0 0 1-6 0Zm3-2a2 2 0 1 0 0 4 2 2 0 0 0 0-4Z"
              />
            </svg>

            <div class="grow ml-5">
              <h3
                class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200"
              >
                Ask Us Anything
              </h3>
              <p class="text-sm text-gray-500">Get help from our team.</p>
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
        href="https://wa.me/+919984045295"
        target="_blank"
      >
        <div class="p-4 md:p-5">
          <div class="flex">
            <svg
              class="mt-1 shrink-0 w-5 h-5 text-gray-800 dark:text-gray-200"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"
              />
              <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            </svg>

            <div class="grow ml-5">
              <h3
                class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200"
              >
                Book your demo
              </h3>
              <p class="text-sm text-gray-500">
                call
                <span class="text-blue-600 font-medium dark:text-blue-500">
                  +91 9984045295
                </span>
              </p>
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
        href="mailto:sudoyantra@gmail.com"
        target="_blank"
      >
        <div class="p-4 md:p-5">
          <div class="flex">
            <svg
              class="mt-1 shrink-0 w-5 h-5 text-gray-800 dark:text-gray-200"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"
              />
            </svg>

            <div class="grow ml-5">
              <h3
                class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200"
              >
                Email us
              </h3>
              <p class="text-sm text-gray-500">
                <span class="text-blue-600 font-medium dark:text-blue-500"
                  >sudoyantra@gmail.com</span
                >
              </p>
            </div>
          </div>
        </div>
      </a>
      <!-- End Card -->
      <a
        class="group flex flex-col bg-white border shadow-sm rounded-xl hover:shadow-md transition dark:bg-slate-900 dark:border-gray-800"
        href="https://www.linkedin.com/company/sudoyantra/"
        target="_blank"
      >
        <div class="p-4 md:p-5">
          <div class="flex">
            <svg
              class="mt-1 shrink-0 w-5 h-5 text-gray-800 dark:text-gray-200"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                d="M8.47 1.318a1 1 0 0 0-.94 0l-6 3.2A1 1 0 0 0 1 5.4v.817l5.75 3.45L8 8.917l1.25.75L15 6.217V5.4a1 1 0 0 0-.53-.882l-6-3.2ZM15 7.383l-4.778 2.867L15 13.117V7.383Zm-.035 6.88L8 10.082l-6.965 4.18A1 1 0 0 0 2 15h12a1 1 0 0 0 .965-.738ZM1 13.116l4.778-2.867L1 7.383v5.734ZM7.059.435a2 2 0 0 1 1.882 0l6 3.2A2 2 0 0 1 16 5.4V14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V5.4a2 2 0 0 1 1.059-1.765l6-3.2Z"
              />
            </svg>

            <div class="grow ml-5">
              <h3
                class="group-hover:text-blue-600 font-semibold text-gray-800 dark:group-hover:text-gray-400 dark:text-gray-200"
              >
                Linked In
              </h3>
              <p class="text-sm text-gray-500">
                <span class="text-blue-600 font-medium dark:text-blue-500"
                  >/sudoyantra</span
                >
              </p>
            </div>
          </div>
        </div>
      </a>
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Section -->

  <!-- Card Blog -->
  <div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
    <!-- Title -->
    <div class="max-w-2xl mx-auto text-center mb-10 lg:mb-14">
      <h2
        class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white"
      >
        Our Products
      </h2>
      <p class="mt-1 text-gray-600 dark:text-gray-400">
        We are a robotics company that specializes in developing custom robots
        for a variety of applications. Use the password to enter the store.
        (password: sudoyantra)
      </p>
    </div>
    <!-- End Title -->

    <!-- Grid -->
    <div class="grid sm:grid-cols-2 lg:grid-cols-3 gap-6">
      <!-- Card -->
      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]"
        target="_blank"
        href="https://store.sudoyantra.com/collections/all"
      >
        <div class="aspect-w-16 aspect-h-10">
          <img
            class="w-full object-cover rounded-xl"
            src="/charge-controller/charge-controller.jpeg"
            alt="Charge Controller Description"
          />
        </div>
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          MQTT Charge Controller V1
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
      <!-- End Card -->
      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]"
        href="#"
      >
        <div class="aspect-w-16 aspect-h-10">
          <img
            class="w-full object-cover rounded-xl"
            src="/robot/site.jpg"
            alt="Image Description"
          />
        </div>
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          Manual Solar Panels Cleaning Robot
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
      <!-- Card -->
      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]"
        target="_blank"
        href="https://store.sudoyantra.com/collections/all"
      >
        <div class="aspect-w-16 aspect-h-10">
          <img
            class="w-full object-cover rounded-xl"
            src="/robot/site.jpg"
            alt="Image Description"
          />
        </div>
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          Solar Panels Cleaning Robot (Semi Automatic Wifi)
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
      <!-- End Card -->

      <!-- Card -->
      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]"
        target="_blank"
        href="https://store.sudoyantra.com/collections/all"
      >
        <div class="aspect-w-16 aspect-h-10">
          <img
            class="w-full object-cover rounded-xl"
            src="/robot/site.jpg"
            alt="Image Description"
          />
        </div>
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          Solar Panels Cleaning Robot (Semi Automatic LoRaWAN)
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Scada and Dashboard Integration
        </p>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
      <!-- End Card -->

      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05]"
        target="_blank"
        href="https://store.sudoyantra.com/collections/all"
      >
        <div class="aspect-w-16 aspect-h-10">
          <img
            class="w-full object-cover rounded-xl"
            src="/robot/site.jpg"
            alt="Image Description"
          />
        </div>
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          Robot Controller Universal(Wifi)
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Scada and Dashboard Integration
        </p>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
      <a
        class="group hover:bg-gray-100 rounded-xl p-5 transition-all dark:hover:bg-white/[.05] justify-center flex flex-col"
        href="#product"
      >
        <!-- <div class="aspect-w-16 aspect-h-10">
    <img
      class="w-full object-cover rounded-xl"
      src="/mainlogo.jpg"
      alt="Image Description"
    />
  </div> -->
        <h3
          class="mt-5 text-xl text-gray-800 dark:text-gray-300 dark:group-hover:text-white"
        >
          Go To Product Page
        </h3>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          More Products Showcase Here
        </p>
        <p
          class="mt-3 inline-flex items-center gap-x-2 text-sm font-semibold text-gray-800 dark:text-gray-200"
        >
          Learn more
          <svg
            class="w-2.5 h-2.5 transition ease-in-out group-hover:translate-x-1"
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M0.975821 6.92249C0.43689 6.92249 -3.50468e-07 7.34222 -3.27835e-07 7.85999C-3.05203e-07 8.37775 0.43689 8.79749 0.975821 8.79749L12.7694 8.79748L7.60447 13.7596C7.22339 14.1257 7.22339 14.7193 7.60447 15.0854C7.98555 15.4515 8.60341 15.4515 8.98449 15.0854L15.6427 8.68862C16.1191 8.23098 16.1191 7.48899 15.6427 7.03134L8.98449 0.634573C8.60341 0.268455 7.98555 0.268456 7.60447 0.634573C7.22339 1.00069 7.22339 1.59428 7.60447 1.9604L12.7694 6.92248L0.975821 6.92249Z"
              fill="currentColor"
            />
          </svg>
        </p>
      </a>
    </div>
    <!-- End Grid -->
  </div>
  <!-- End Card Blog -->
</span>
