<header aria-label="Page Header" class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
          Sudo Yantra India Pvt. Ltd.
        </h1>

        <p class="mt-1.5 text-sm text-gray-500">
          Let's write a new blog post! 🎉
        </p>
      </div>

      <div class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center">
        <button
          class="inline-flex items-center justify-center gap-1.5 rounded-lg border border-gray-200 bg-white px-5 py-3 text-gray-500 transition hover:text-gray-700 focus:outline-none focus:ring"
          type="button"
        >
          <span class="text-sm font-medium"> View Website </span>

          <svg
            xmlns="http://www.w3.org/2000/svg"
            class="h-4 w-4"
            fill="none"
            viewBox="0 0 24 24"
            stroke="currentColor"
            stroke-width="2"
          >
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14"
            />
          </svg>
        </button>

        <button
          class="block rounded-lg bg-indigo-600 px-5 py-3 text-sm font-medium text-white transition hover:bg-indigo-700 focus:outline-none focus:ring"
          type="button"
        >
          Create Post
        </button>
      </div>
    </div>
  </div>
</header>
<div
  id="hs-basic-collapse-heading"
  class="hs-collapse hidden w-full overflow-hidden transition-[height] duration-300"
  aria-labelledby="hs-basic-collapse"
>
  <div class="mt-5 bg-white rounded-lg py-3 px-4 dark:bg-slate-900">
    <p class="text-gray-500 dark:text-gray-400">
      This is a collapse body. It is hidden by default, until the collapse
      plugin adds the appropriate classes that we use to style each element.
      These classes control the overall appearance, as well as the showing and
      hiding via CSS transitions.
    </p>
  </div>
</div>

<section
  class="bg-gray-100 dark:bg-gray-800 lg:py-12 lg:flex lg:justify-center"
>
  <div
    class="overflow-hidden bg-white dark:bg-gray-900 lg:mx-8 lg:flex lg:max-w-6xl lg:w-full lg:shadow-md lg:rounded-xl"
  >
    <div class="lg:w-1/2">
      <div
        class="h-64 bg-cover lg:h-full"
        style="background-image: url('/application/app_4.jpg')"
      ></div>
    </div>

    <div class="max-w-xl px-6 py-12 lg:max-w-5xl lg:w-1/2">
      <h2
        class="text-2xl font-semibold text-gray-800 dark:text-white md:text-3xl"
      >
        Build Your New <span class="text-blue-500">Idea</span>
      </h2>

      <p class="mt-4 text-gray-500 dark:text-gray-300">
        Customize or Connect: Create Your Perfect Solar Robot with Lorawan and
        Internet Connectivity Today! Build your idea from scratch or choose from
        our selection - either way, we've got you covered. With our cutting-edge
        technology, we offer powerful features to take your solar cleaning to
        the next level. Get connected with Lorawan or the internet to enjoy
        effortless control and monitoring from anywhere. Ready to start? Just
        give us a call - we're here to help you bring your ideas to life!
      </p>

      <div class="inline-flex w-full mt-6 sm:w-auto">
        <a
          href="#"
          onclick="onNavigate('/#contact'); return false;"
          class="inline-flex items-center justify-center w-full px-6 py-2 text-sm text-white duration-300 bg-gray-800 rounded-lg hover:bg-gray-700 focus:ring focus:ring-gray-300 focus:ring-opacity-80"
        >
          Contact Us Now
        </a>
      </div>
    </div>
  </div>
</section>
<!-- Features -->
<div
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-slate-200"
>
  <!-- Tab Nav -->
  <nav
    class="max-w-6xl mx-auto grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4"
    aria-label="Tabs"
    role="tablist"
  >
    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700 active"
      id="tabs-with-card-item-1"
      data-hs-tab="#tabs-with-card-1"
      aria-controls="tabs-with-card-1"
      role="tab"
    >
      <span class="md:flex">
        <svg
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"
          />
          <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg>
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
            >All-in-one workspace</span
          >
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >Create a business, whether you’ve got a fresh idea.</span
          >
        </span>
      </span>
    </button>

    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
      id="tabs-with-card-item-2"
      data-hs-tab="#tabs-with-card-2"
      aria-controls="tabs-with-card-2"
      role="tab"
    >
      <span class="md:flex">
        <svg
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M0 0h1v15h15v1H0V0Zm14.817 3.113a.5.5 0 0 1 .07.704l-4.5 5.5a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61 4.15-5.073a.5.5 0 0 1 .704-.07Z"
          />
        </svg>
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
            >Automation on a whole new level</span
          >
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >Use automation to scale campaigns profitably and save time doing
            it.</span
          >
        </span>
      </span>
    </button>

    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
      id="tabs-with-card-item-3"
      data-hs-tab="#tabs-with-card-3"
      aria-controls="tabs-with-card-3"
      role="tab"
    >
      <span class="md:flex">
        <svg
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"
          />
        </svg>
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
            >Solving problems for every team</span
          >
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >One tool for your company to share knowledge and ship
            projects.</span
          >
        </span>
      </span>
    </button>
  </nav>
  <!-- End Tab Nav -->

  <!-- Tab Content -->
  <div class="mt-12 md:mt-16">
    <div
      id="tabs-with-card-1"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-1"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-100 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-gray-700 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/robot/robot_4.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-[0_2.75rem_3.5rem_-2rem_rgb(45_55_75_/_20%),_0_0_5rem_-2rem_rgb(45_55_75_/_15%)] dark:shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-white border-b border-gray-100 rounded-t-lg py-2 px-24 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-200 text-[.25rem] text-gray-800 rounded-sm sm:text-[.5rem] dark:bg-gray-700 dark:text-gray-200"
            >
              www.SudoYantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg">
            <img
              class="max-w-full h-auto rounded-b-lg"
              src="/application/app_8.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>

    <div
      id="tabs-with-card-2"
      class="hidden"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-2"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-700 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/application/app_6.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-gray-800 border-b border-gray-700 rounded-t-lg py-2 px-24"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-700 text-[.25rem] text-gray-200 rounded-sm sm:text-[.5rem]"
            >
              www.SudoYantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg">
            <img
              class="max-w-full h-auto rounded-b-lg"
              src="/application/app_4.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>

    <div
      id="tabs-with-card-3"
      class="hidden"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-3"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-100 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-gray-700 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/robot/robot_5.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-[0_2.75rem_3.5rem_-2rem_rgb(45_55_75_/_20%),_0_0_5rem_-2rem_rgb(45_55_75_/_15%)] dark:shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-white border-b border-gray-100 rounded-t-lg py-2 px-24 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-200 text-[.25rem] text-gray-800 rounded-sm sm:text-[.5rem] dark:bg-gray-700 dark:text-gray-200"
            >
              www.SudoYantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg">
            <img
              class="max-w-full h-auto rounded-b-lg"
              src="/application/app_2.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>
  </div>
  <!-- End Tab Content -->
</div>
<!-- End Features -->
<!-- Features -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Grid -->
  <div class="lg:grid lg:grid-cols-12 lg:gap-16 lg:items-center">
    <div class="lg:col-span-7">
      <!-- Grid -->
      <div
        class="grid grid-cols-12 gap-2 sm:gap-6 items-center lg:-translate-x-10"
      >
        <div class="col-span-4">
          <img
            class="rounded-xl"
            src="/robot/robot_5.jpg"
            alt="Image Description"
          />
        </div>
        <!-- End Col -->

        <div class="col-span-3">
          <img
            class="rounded-xl"
            src="/application/app_10.jpg"
            alt="Image Description"
          />
        </div>
        <!-- End Col -->

        <div class="col-span-5">
          <img
            class="rounded-xl"
            src="/application/app_1.jpg"
            alt="Image Description"
          />
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Col -->

    <div class="mt-5 sm:mt-10 lg:mt-0 lg:col-span-5">
      <div class="space-y-6 sm:space-y-8">
        <!-- Title -->
        <div class="space-y-2 md:space-y-4">
          <h2
            class="font-bold text-3xl lg:text-4xl text-gray-800 dark:text-gray-200"
          >
            Collaborative tools to design user experience
          </h2>
          <p class="text-gray-500">
            Use our tools to explore your ideas and make your vision come true.
            Then share your work easily.
          </p>
        </div>
        <!-- End Title -->

        <!-- List -->
        <ul role="list" class="space-y-2 sm:space-y-4">
          <li class="flex space-x-3">
            <!-- Solid Check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600 dark:text-blue-500"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
                fill="currentColor"
                fill-opacity="0.1"
              />
              <path
                d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
                fill="currentColor"
              />
            </svg>
            <!-- End Solid Check -->

            <span class="text-sm sm:text-base text-gray-500">
              <span class="font-bold">Less routine</span> – more creativity
            </span>
          </li>

          <li class="flex space-x-3">
            <!-- Solid Check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600 dark:text-blue-500"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
                fill="currentColor"
                fill-opacity="0.1"
              />
              <path
                d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
                fill="currentColor"
              />
            </svg>
            <!-- End Solid Check -->

            <span class="text-sm sm:text-base text-gray-500">
              Hundreds of thousands saved
            </span>
          </li>

          <li class="flex space-x-3">
            <!-- Solid Check -->
            <svg
              class="flex-shrink-0 h-6 w-6 text-blue-600 dark:text-blue-500"
              width="16"
              height="16"
              viewBox="0 0 16 16"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M15.1965 7.85999C15.1965 3.71785 11.8387 0.359985 7.69653 0.359985C3.5544 0.359985 0.196533 3.71785 0.196533 7.85999C0.196533 12.0021 3.5544 15.36 7.69653 15.36C11.8387 15.36 15.1965 12.0021 15.1965 7.85999Z"
                fill="currentColor"
                fill-opacity="0.1"
              />
              <path
                d="M10.9295 4.88618C11.1083 4.67577 11.4238 4.65019 11.6343 4.82904C11.8446 5.00788 11.8702 5.32343 11.6914 5.53383L7.44139 10.5338C7.25974 10.7475 6.93787 10.77 6.72825 10.5837L4.47825 8.5837C4.27186 8.40024 4.25327 8.0842 4.43673 7.87781C4.62019 7.67142 4.93622 7.65283 5.14261 7.83629L7.01053 9.49669L10.9295 4.88618Z"
                fill="currentColor"
              />
            </svg>
            <!-- End Solid Check -->

            <span class="text-sm sm:text-base text-gray-500">
              Scale budgets <span class="font-bold">efficiently</span>
            </span>
          </li>
        </ul>
        <!-- End List -->
      </div>
    </div>
    <!-- End Col -->
  </div>
  <!-- End Grid -->
</div>
<!-- End Features -->
