<!-- <header aria-label="Page Header" class="bg-gray-50">
  <div class="mx-auto max-w-screen-xl px-4 py-8 sm:px-6 sm:py-12 lg:px-8">
    <div class="sm:flex sm:items-center sm:justify-between">
      <div class="text-center sm:text-left">
        <h1 class="text-2xl font-bold text-gray-900 sm:text-3xl">
          Sudo Yantra India Pvt. Ltd.
        </h1>

        <p class="mt-1.5 text-sm text-gray-500">
          Your Solar Plant cleaning companion
        </p>
      </div>

      <div
        class="mt-4 flex flex-col gap-4 sm:mt-0 sm:flex-row sm:items-center"
      ></div>
    </div>
  </div>
</header> -->
<!-- Card Blog -->
<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
  <!-- Title -->
  <div class="max-w-2xl text-center mx-auto mb-10 lg:mb-14">
    <h2 class="text-2xl font-bold md:text-4xl md:leading-tight dark:text-white">
      Products
    </h2>
  </div>
  <div class="flex flex-col justify-start">
    <!-- <div class="mt-8 sm:mt-12">
      <dl class="grid grid-cols-1 gap-4 sm:grid-cols-3">
        <div
          class="flex flex-col rounded-lg border border-gray-700 px-4 py-8 text-center"
        >
          <dt class="order-last text-lg font-medium text-gray-700">
            Dashboard control with 24/7 connectivity
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl my-2">
            Automatic
          </dd>
        </div>

        <div
          class="flex flex-col rounded-lg border border-gray-700 px-4 py-8 text-center"
        >
          <dt class="order-last text-lg font-medium text-gray-700">
            Auto Time based Cleaning Mobile App
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl my-2">
            Semi-Auto
          </dd>
        </div>
        <div
          class="flex flex-col rounded-lg border border-gray-700 px-4 py-8 text-center"
        >
          <dt class="order-last text-lg font-medium text-gray-700">
            Rotary Switch and Key based System
          </dt>

          <dd class="text-4xl font-extrabold text-blue-600 md:text-5xl my-2">
            Manual
          </dd>
        </div>
      </dl>
    </div> -->
    <div class="max-w-[85rem] px-4 py-2 sm:px-6 lg:px-8 lg:py-4 mx-auto">
      <div class="relative xl:w-10/12 xl:mx-auto">
        <!-- Grid -->
        <div class="grid grid-cols-1 lg:grid-cols-3 gap-6 lg:gap-8">
          <div>
            <!-- Card -->
            <div
              class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]"
            >
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Automatic
              </h3>
              <div class="text-sm text-gray-500">
                Seamless global control and real-time monitoring of robots.
              </div>
              <span
                class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900"
                >Most popular</span
              >

              <div class="mt-5 w-full flex items-center justify-center">
                <!-- <span
                    class="text-6xl font-bold text-gray-800 dark:text-gray-200"
                    >$36</span
                  >
                  <span
                    class="text-lg font-bold text-gray-800 dark:text-gray-200"
                    >.99</span
                  >
                  <span class="ml-3 text-gray-500">USD / monthly</span> -->
                <img
                  src="/header/blob.png"
                  alt="automatic"
                  class="w-32 h-full"
                />
              </div>

              <div
                class="mt-5 grid sm:grid-cols-1 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0"
              >
                <!-- List -->
                <ul role="list" class="space-y-2 text-sm sm:text-base">
                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Dashboard Controlled 24/7
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Collect data and Notify
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      All Features added
                    </span>
                  </li>
                </ul>

                <!-- End List -->
              </div>

              <div
                class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0"
              >
                <!-- <div></div>

                  <div class="flex justify-end">
                    <button
                      type="button"
                      class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                    >
                      Contact
                    </button>
                  </div> -->
              </div>
            </div>
            <!-- End Card -->
          </div>

          <div>
            <!-- Card -->
            <div
              class="shadow-xl shadow-gray-200 p-5 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700 dark:shadow-gray-900/[.2]"
            >
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Semi Automatic
              </h3>
              <div class="text-sm text-gray-500">
                Time based Cleaning with Mobile App for controls.
              </div>
              <span
                class="absolute top-0 right-0 rounded-tr-xl rounded-bl-xl text-xs font-medium bg-gray-800 text-white py-1.5 px-3 dark:bg-gray-900"
                >Most popular</span
              >

              <div class="mt-5">
                <!-- <span
                    class="text-6xl font-bold text-gray-800 dark:text-gray-200"
                    >$36</span
                  >
                  <span
                    class="text-lg font-bold text-gray-800 dark:text-gray-200"
                    >.99</span
                  >
                  <span class="ml-3 text-gray-500">USD / monthly</span> -->
                <img
                  src="/header/time.webp"
                  alt="automatic"
                  class="w-30 h-full"
                />
              </div>

              <div
                class="mt-5 grid sm:grid-cols-1 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0"
              >
                <!-- List -->
                <ul role="list" class="space-y-2 text-sm sm:text-base">
                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Automatic Run on Time
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Local Mobile App
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Solar Charge Controller
                    </span>
                  </li>
                </ul>

                <!-- End List -->
              </div>

              <div
                class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0"
              >
                <!-- <div>
                    <p class="text-sm text-gray-500">Cancel anytime.</p>
                    <p class="text-sm text-gray-500">No card required.</p>
                  </div>

                  <div class="flex justify-end">
                    <button
                      type="button"
                      class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border border-transparent font-semibold bg-blue-500 text-white hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 transition-all text-sm dark:focus:ring-offset-gray-800"
                    >
                      Start free trial
                    </button>
                  </div> -->
              </div>
            </div>
            <!-- End Card -->
          </div>
          <div>
            <!-- Card -->
            <div
              class="p-4 relative z-10 bg-white border rounded-xl md:p-10 dark:bg-slate-900 dark:border-gray-700"
            >
              <h3 class="text-xl font-bold text-gray-800 dark:text-gray-200">
                Manual
              </h3>
              <div class="text-sm text-gray-500">
                Rotary Switch and Key based System effective for small plants
              </div>

              <div class="mt-5 w-full flex items-center justify-center">
                <!-- <span
                    class="text-6xl font-bold text-gray-800 dark:text-gray-200"
                    >$18</span
                  >
                  <span
                    class="text-lg font-bold text-gray-800 dark:text-gray-200"
                    >.00</span
                  > -->

                <img
                  src="/header/start.png"
                  alt="automatic"
                  class="w-32 h-full"
                />
                <!-- <span class="ml-3 text-gray-500"> / monthly</span> -->
              </div>

              <div
                class="mt-5 grid sm:grid-cols-1 gap-y-2 py-4 first:pt-0 last:pb-0 sm:gap-x-6 sm:gap-y-0"
              >
                <!-- List -->
                <ul role="list" class="space-y-2 text-sm sm:text-base">
                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Button control
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Bidirectional mode
                    </span>
                  </li>

                  <li class="flex space-x-3">
                    <svg
                      class="flex-shrink-0 h-5 w-5 text-blue-500"
                      width="18"
                      height="18"
                      viewBox="0 0 18 18"
                      fill="none"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <rect
                        width="18"
                        height="18"
                        rx="9"
                        fill="currentColor"
                        fill-opacity="0.1"
                      />
                      <path
                        d="M12.0603 5.78792C12.2511 5.56349 12.5876 5.5362 12.8121 5.72697C13.0365 5.91774 13.0638 6.25432 12.873 6.47875L8.3397 11.8121C8.14594 12.04 7.80261 12.064 7.57901 11.8653L5.17901 9.73195C4.95886 9.53626 4.93903 9.19915 5.13472 8.979C5.33041 8.75885 5.66751 8.73902 5.88766 8.93471L7.88011 10.7058L12.0603 5.78792Z"
                        fill="currentColor"
                      />
                    </svg>
                    <span class="text-gray-800 dark:text-gray-200">
                      Solar Charge Controller
                    </span>
                  </li>
                </ul>

                <!-- End List -->
              </div>

              <div
                class="mt-5 grid grid-cols-2 gap-x-4 py-4 first:pt-0 last:pb-0"
              >
                <!-- <div>
                    <p class="text-sm text-gray-500">Cancel anytime.</p>
                    <p class="text-sm text-gray-500">No card required.</p>
                  </div>

                  <div class="flex justify-end">
                    <button
                      type="button"
                      class="py-3 px-4 inline-flex justify-center items-center gap-2 rounded-md border font-medium bg-white text-gray-700 shadow-sm align-middle hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-white focus:ring-blue-600 transition-all text-sm dark:bg-slate-900 dark:hover:bg-slate-800 dark:border-gray-700 dark:text-gray-400 dark:hover:text-white dark:focus:ring-offset-gray-800"
                    >
                      Start free trial
                    </button>
                  </div> -->
              </div>
            </div>
            <!-- End Card -->
          </div>
        </div>

        <div
          class="hidden md:block absolute top-0 right-0 translate-y-16 translate-x-16"
        >
          <svg
            class="w-16 h-auto text-orange-500"
            width="121"
            height="135"
            viewBox="0 0 121 135"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M5 16.4754C11.7688 27.4499 21.2452 57.3224 5 89.0164"
              stroke="currentColor"
              stroke-width="10"
              stroke-linecap="round"
            />
            <path
              d="M33.6761 112.104C44.6984 98.1239 74.2618 57.6776 83.4821 5"
              stroke="currentColor"
              stroke-width="10"
              stroke-linecap="round"
            />
            <path
              d="M50.5525 130C68.2064 127.495 110.731 117.541 116 78.0874"
              stroke="currentColor"
              stroke-width="10"
              stroke-linecap="round"
            />
          </svg>
        </div>

        <div
          class="hidden md:block absolute bottom-0 left-0 translate-y-16 -translate-x-16"
        >
          <svg
            class="w-56 h-auto text-cyan-500"
            width="347"
            height="188"
            viewBox="0 0 347 188"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M4 82.4591C54.7956 92.8751 30.9771 162.782 68.2065 181.385C112.642 203.59 127.943 78.57 122.161 25.5053C120.504 2.2376 93.4028 -8.11128 89.7468 25.5053C85.8633 61.2125 130.186 199.678 180.982 146.248L214.898 107.02C224.322 95.4118 242.9 79.2851 258.6 107.02C274.299 134.754 299.315 125.589 309.861 117.539L343 93.4426"
              stroke="currentColor"
              stroke-width="7"
              stroke-linecap="round"
            />
          </svg>
        </div>

        <!-- End SVG Element -->
      </div>

      <div class="mt-7 text-center">
        <p class="text-xs text-gray-400">Terms and Condition Apply.</p>
      </div>
    </div>
  </div>
</div>

<div
  class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto bg-white rounded-md shadow-md"
>
  <!-- Tab Nav -->
  <nav
    class="max-w-6xl mx-auto grid grid-cols-2 sm:grid-cols-3 gap-2 sm:gap-4"
    aria-label="Tabs"
    role="tablist"
  >
    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700 active"
      id="tabs-with-card-item-1"
      data-hs-tab="#tabs-with-card-1"
      aria-controls="tabs-with-card-1"
      role="tab"
    >
      <span class="md:flex">
        <svg
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.5 2A3.5 3.5 0 0 0 2 5.5v5A3.5 3.5 0 0 0 5.5 14h5a3.5 3.5 0 0 0 3.5-3.5V8a.5.5 0 0 1 1 0v2.5a4.5 4.5 0 0 1-4.5 4.5h-5A4.5 4.5 0 0 1 1 10.5v-5A4.5 4.5 0 0 1 5.5 1H8a.5.5 0 0 1 0 1H5.5z"
          />
          <path d="M16 3a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
        </svg>
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
          >
            Dashboard 24/7
          </span>
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >Enables remote monitoring, scheduling and optimizing cleaning
            operations.</span
          >
        </span>
      </span>
    </button>

    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
      id="tabs-with-card-item-2"
      data-hs-tab="#tabs-with-card-2"
      aria-controls="tabs-with-card-2"
      role="tab"
    >
      <span class="md:flex">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M10.5 1.5H8.25A2.25 2.25 0 006 3.75v16.5a2.25 2.25 0 002.25 2.25h7.5A2.25 2.25 0 0018 20.25V3.75a2.25 2.25 0 00-2.25-2.25H13.5m-3 0V3h3V1.5m-3 0h3m-3 18.75h3"
          />
        </svg>

        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
            >Admin App
          </span>
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >Allows for control, monitoring, and troubleshooting, enhancing
            operational efficiency.</span
          >
        </span>
      </span>
    </button>

    <button
      type="button"
      class="hs-tab-active:bg-gray-100 hs-tab-active:hover:border-transparent text-center md:text-left hover:bg-gray-100 p-3 md:p-5 rounded-xl dark:hs-tab-active:bg-white/[.05] dark:hover:bg-gray-700"
      id="tabs-with-card-item-3"
      data-hs-tab="#tabs-with-card-3"
      aria-controls="tabs-with-card-3"
      role="tab"
    >
      <span class="md:flex">
        <svg
          class="hidden md:block flex-shrink-0 md:mt-2 h-6 w-6 hs-tab-active:text-blue-600 text-gray-500 dark:hs-tab-active:text-blue-500 dark:text-gray-500"
          xmlns="http://www.w3.org/2000/svg"
          width="16"
          height="16"
          fill="currentColor"
          viewBox="0 0 16 16"
        >
          <path
            d="M5.52.359A.5.5 0 0 1 6 0h4a.5.5 0 0 1 .474.658L8.694 6H12.5a.5.5 0 0 1 .395.807l-7 9a.5.5 0 0 1-.873-.454L6.823 9.5H3.5a.5.5 0 0 1-.48-.641l2.5-8.5zM6.374 1 4.168 8.5H7.5a.5.5 0 0 1 .478.647L6.78 13.04 11.478 7H8a.5.5 0 0 1-.474-.658L9.306 1H6.374z"
          />
        </svg>
        <span class="md:grow md:ml-5">
          <span
            class="hs-tab-active:text-blue-600 block font-semibold text-gray-800 dark:hs-tab-active:text-blue-500 dark:text-gray-200"
            >Inbuilt Solar Charge Controller</span
          >
          <span class="hidden lg:block mt-2 text-gray-800 dark:text-gray-200"
            >maximizes energy efficiency and battery longevity while simplifying
            system integration.
          </span>
        </span>
      </span>
    </button>
  </nav>
  <!-- End Tab Nav -->

  <!-- Tab Content -->
  <div class="mt-12 md:mt-16">
    <div
      id="tabs-with-card-1"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-1"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-100 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-gray-700 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/app-1.jpeg"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-[0_2.75rem_3.5rem_-2rem_rgb(45_55_75_/_20%),_0_0_5rem_-2rem_rgb(45_55_75_/_15%)] dark:shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-white border-b border-gray-100 rounded-t-lg py-2 px-24 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-200 text-[.25rem] text-gray-800 rounded-sm sm:text-[.5rem] dark:bg-gray-700 dark:text-gray-200"
            >
              console.sudoyantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg">
            <img
              class="max-w-full h-auto rounded-b-lg"
              src="/app-4.jpeg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>

    <div
      id="tabs-with-card-2"
      class="hidden"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-2"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-700 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/application/robot1.jpeg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-gray-800 border-b border-gray-700 rounded-t-lg py-2 px-24"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
              <span class="w-2 h-2 bg-gray-700 rounded-full"></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-700 text-[.25rem] text-gray-200 rounded-sm sm:text-[.5rem]"
            >
              app.sudoyantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg">
            <img
              class="max-w-full h-auto rounded-b-lg"
              src="/application/mobile.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>

    <div
      id="tabs-with-card-3"
      class="hidden"
      role="tabpanel"
      aria-labelledby="tabs-with-card-item-3"
    >
      <!-- Devices -->
      <div class="max-w-[1140px] lg:pb-32 relative">
        <!-- Mobile Device -->
        <figure
          class="hidden absolute bottom-0 left-0 z-[2] max-w-full w-60 h-auto mb-20 ml-20 lg:block"
        >
          <div
            class="p-1.5 bg-gray-100 rounded-3xl shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] dark:bg-gray-700 dark:shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(0_0_0_/_20%),_0_2rem_4rem_-2rem_rgb(0_0_0_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(0_0_0_/_20%)]"
          >
            <img
              class="max-w-full h-auto rounded-[1.25rem]"
              src="/devikot_site_5.jpg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Mobile Device -->

        <!-- Browser Device -->
        <figure
          class="ml-auto mr-20 relative z-[1] max-w-full w-[50rem] h-auto rounded-b-lg shadow-[0_2.75rem_3.5rem_-2rem_rgb(45_55_75_/_20%),_0_0_5rem_-2rem_rgb(45_55_75_/_15%)] dark:shadow-[0_2.75rem_3.5rem_-2rem_rgb(0_0_0_/_20%),_0_0_5rem_-2rem_rgb(0_0_0_/_15%)]"
        >
          <div
            class="relative flex items-center max-w-[50rem] bg-white border-b border-gray-100 rounded-t-lg py-2 px-24 dark:bg-gray-800 dark:border-gray-700"
          >
            <div class="flex space-x-1 absolute top-2/4 left-4 -translate-y-1">
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
              <span
                class="w-2 h-2 bg-gray-200 rounded-full dark:bg-gray-700"
              ></span>
            </div>
            <div
              class="flex justify-center items-center w-full h-full bg-gray-200 text-[.25rem] text-gray-800 rounded-sm sm:text-[.5rem] dark:bg-gray-700 dark:text-gray-200"
            >
              shop.sudoyantra.com
            </div>
          </div>

          <div class="bg-gray-800 rounded-b-lg flex p-2 gap-4">
            <img
              class="max-w-full h-auto rounded-lg w-auto max-h-96 aspect-auto"
              src="/public/charge-controller/charge-controller-working.jpeg"
              alt="Image Description"
            />
            <img
              class="max-w-full h-auto rounded-lg w-auto max-h-96 aspect-auto"
              src="/public/charge-controller/charge-controller-copy.jpeg"
              alt="Image Description"
            />
          </div>
        </figure>
        <!-- End Browser Device -->
      </div>
      <!-- End Devices -->
    </div>
  </div>
  <!-- End Tab Content -->
</div>
<!-- End Features -->
<!-- Features -->
