<div class="header-08">
  <div class="container-h3">
    <div class="block-left-hero">
      <h1 class="hero_heading">Next Gen Lab</h1>
      <p class="para_white">
        a cutting-edge technology company that specializes in robotics products
        for automation and centralized control of difficult tasks.
        <br />
      </p>
      <button
        onclick="smoothScroll(document.getElementById('product'))"
        class="button-b2"
      >
        <div class="text-block-22">Learn More</div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
          stroke-width="1.5"
          stroke="currentColor"
          style="height: 1.3rem"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            d="M17.25 8.25L21 12m0 0l-3.75 3.75M21 12H3"
          />
        </svg>
      </button>
    </div>
    <div style="margin-top: 2rem !important" class="block-right-hero">
      <img
        src="https://img.freepik.com/premium-vector/wind-turbines-solar-panels-sketch-vector_507816-181.jpg?w=360"
        sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, 45vw"
        srcset="
          https://img.freepik.com/premium-vector/wind-turbines-solar-panels-sketch-vector_507816-181.jpg?w=560 500w,
          https://img.freepik.com/premium-vector/wind-turbines-solar-panels-sketch-vector_507816-181.jpg?w=560 788w
        "
        alt=""
        class="hero_img"
      />
    </div>
  </div>
</div>
