<div class="max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto pt-20">
  <div class="mx-auto my-10 md:my-16">
    <div class="flex md:flex-row flex-col-reverse justify-center lg:gap-x-48 items-center px-8">
      <div>
        <h1 class="lg:text-6xl text-4xl font-semibold">Get Started Now!</h1>
        <p class="md:text-2xl text-xl my-5">Download our app to begin.</p>
        <div class="flex justify-start items-center gap-x-10">
          <a
          href="https://play.google.com/store/apps/details?id=com.sudoyantra.admin&hl=en"
            class="bg-secondary p-2 rounded-lg text-sm lg:text-xl font-semibold cursor-pointer"
          >
            Download App
        </a>
          <a href="https://play.google.com/store/apps/details?id=com.sudoyantra.admin&hl=en" class="cursor-pointer">
            <img class="md:h-10 h-8" src="google-play.webp" alt="" />
          </a>
        </div>
      </div>
     <div class="relative">
        <img class="md:h-[70vh]" src="phonewithapp.png" alt="" />
     </div>
    </div>
    <div class="flex md:flex-row flex-col gap-x-5 justify-center px-8 items-center">
        <img class="md:h-96 my-10 md:my-0 border-2 border-black p-2 rounded-lg" src="app-4.jpeg" alt="">
        <a href="https://kc.sudoyantra.com/realms/Sudoyantra/protocol/openid-connect/auth?client_id=AMNS&redirect_uri=https%3A%2F%2Fapp.sudoyantra.com%2F&state=175901e3-d0f2-45d9-9a6e-08106959c9f9&response_mode=fragment&response_type=code&scope=openid&nonce=ca056c7b-096a-4a88-83ce-803a5737f263" class="bg-secondary p-2 rounded-lg text-sm lg:text-xl font-semibold cursor-pointer">Go to dashboard</a>
    </div>
  </div>
</div>
