<section>
  <div class="header-08">
    <div id="solar" class="section_01">
      <div class="container-co2">
        <div class="content-left-co2">
          <p className="bg-black border-red-200 border-2">Hello world!</p>
          <h1 class="h1_example">Our Services</h1>
          <div class="check-wrap-co2">
            <div class="check-co2">
              <p class="text-co2">
                Dedicated, passionate and professional services
              </p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Affordable pricing</p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Premium customer support</p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Delivery time is accurate and scheduled</p>
            </div>
          </div>
          <div class="button-b1">
            <div class="text-block-22">Find out more</div>
            <img
              src="https://uploads-ssl.webflow.com/5c35b25cdec4808684ce6aef/5c824e3c738ed9e5477f4516_arrow-right.svg"
              width="17"
              alt=""
            />
          </div>
        </div>
        <div class="content-right-co2">
          <img
            src="https://avalondp.com/image/service_image.png"
            width="510"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, (max-width: 991px) 46vw, 45vw"
            srcset="
              https://avalondp.com/image/service_image.png 500w,
              https://avalondp.com/image/service_image.png 788w
            "
            alt=""
            class="image-14"
          />
        </div>
      </div>
    </div>
  </div>
  <section class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-10 mx-auto">
      <div class="lg:-mx-6 lg:flex lg:items-center">
        <img
          class="object-cover object-center lg:w-1/2 lg:mx-6 w-full h-96 rounded-lg lg:h-[36rem]"
          src="https://images.unsplash.com/photo-1499470932971-a90681ce8530?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80"
          alt=""
        />

        <div class="mt-8 lg:w-1/2 lg:px-6 lg:mt-0">
          <p class="text-5xl font-semibold text-blue-500">“</p>

          <h1
            class="text-2xl font-semibold text-gray-800 dark:text-white lg:text-3xl lg:w-96"
          >
            Help us improve our productivity
          </h1>

          <p class="max-w-lg mt-6 text-gray-500 dark:text-gray-400">
            “ Lorem ipsum dolor sit amet, consectetur adipisicing elit. Tempore
            quibusdam ducimus libero ad tempora doloribus expedita laborum saepe
            voluptas perferendis delectus assumenda rerum, culpa aperiam
            dolorum, obcaecati corrupti aspernatur a. ”
          </p>

          <h3 class="mt-6 text-lg font-medium text-blue-500">Mia Brown</h3>
          <p class="text-gray-600 dark:text-gray-300">
            Marketing Manager at Stech
          </p>

          <div class="flex items-center justify-between mt-12 lg:justify-start">
            <button
              title="left arrow"
              class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M15 19l-7-7 7-7"
                />
              </svg>
            </button>

            <button
              title="right arrow"
              class="p-2 text-gray-800 transition-colors duration-300 border rounded-full rtl:-scale-x-100 dark:border-gray-700 dark:text-gray-200 dark:hover:bg-gray-800 lg:mx-6 hover:bg-gray-100"
            >
              <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                stroke-width="2"
              >
                <path
                  stroke-linecap="round"
                  stroke-linejoin="round"
                  d="M9 5l7 7-7 7"
                />
              </svg>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
</section>
