<section>
  <div class="header-08">
    <div id="solar" class="section_01">
      <div class="container-co2">
        <div class="content-left-co2">
          <h1 class="h1_example">Our Services</h1>
          <div class="check-wrap-co2">
            <div class="check-co2">
              <p class="text-co2">
                Dedicated, passionate and professional services
              </p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Affordable pricing</p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Premium customer support</p>
            </div>
            <div class="check-co2">
              <p class="text-co2">Delivery time is accurate and scheduled</p>
            </div>
          </div>
          <div class="button-b1">
            <div class="text-block-22">Find out more</div>
            <img
              src="https://uploads-ssl.webflow.com/5c35b25cdec4808684ce6aef/5c824e3c738ed9e5477f4516_arrow-right.svg"
              width="17"
              alt=""
            />
          </div>
        </div>
        <div class="content-right-co2">
          <img
            src="https://avalondp.com/image/service_image.png"
            width="510"
            sizes="(max-width: 479px) 100vw, (max-width: 767px) 94vw, (max-width: 991px) 46vw, 45vw"
            srcset="
              https://avalondp.com/image/service_image.png 500w,
              https://avalondp.com/image/service_image.png 788w
            "
            alt=""
            class="image-14"
          />
        </div>
      </div>
    </div>
  </div>
</section>
