<!-- Clients -->
<!-- Blog Article -->
<div class="max-w-[85rem] px-4 sm:px-6 lg:px-8 mx-auto pt-20">
  <div class="flex justify-center">
    <!-- Content -->
    <div class="lg:col-span-2 max-w-3xl">
      <div class="py-8 lg:pr-4 lg:pr-8">
        <div class="space-y-5 lg:space-y-8">
          <a
            class="inline-flex items-center gap-x-1.5 text-sm text-gray-600 decoration-2 hover:underline dark:text-blue-400"
            href="#"
          >
            <svg
              class="w-3 h-3"
              xmlns="http://www.w3.org/2000/svg"
              width="16"
              height="16"
              fill="currentColor"
              viewBox="0 0 16 16"
            >
              <path
                fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"
              />
            </svg>
            Back to Home
          </a>

          <h2
            class="text-3xl font-bold lg:text-4xl lg:text-5xl dark:text-white"
          >
            Solution
          </h2>
          <h4 class="text-xl font-bold lg:text-2xl dark:text-white">
            Why Automate Solar Cleaning?
          </h4>

          <div class="flex items-center gap-x-5">
            <a
              class="inline-flex items-center gap-1.5 py-1 px-3 sm:py-2 sm:px-4 rounded-full text-xs sm:text-sm bg-gray-100 text-gray-800 hover:bg-gray-200 dark:bg-gray-800 dark:hover:bg-gray-800 dark:text-gray-200"
              href="#"
            >
              At SudoYantra
            </a>
          </div>

          <p class="text-lg text-gray-800 dark:text-gray-200">
            To generate electricity, solar panels need direct sunlight. Apart
            from things inside the panels like the type of glass and materials
            used, there are outside factors that also affect how much sunlight
            gets in. One of these factors is dirt and the power loss it causes,
            which is known as "Soiling loss."
            <br />
            <br />
            The dirt here means things like dirt and dust that collect on the
            solar panels. When these things build up, they stop sunlight from
            getting through to the panels. This makes the panels produce less
            electricity.<br /><br />
            This drop in power can last until someone cleans the panels, which
            might not happen right away. So, when panels get dirty, it means
            less money is made because less electricity is produced.<br /><br />
            This affects the people who own solar panels because they earn less
            money from the energy they make. <br /><br />That's why it's really
            important to know what causes dirt buildup and what makes it
            necessary to clean the panels regularly.
          </p>

          <h4 class="text-xl font-bold lg:text-2xl dark:text-white">
            The Importance of Automated Solar Panel Cleaning or (Significance of
            Automated Solar Panel Cleaning ) At SUDOYANTRA,
          </h4>

          <p class="text-lg text-gray-800 dark:text-gray-200">
            we create advanced robotic technologies right here in India. Our
            focus is on designing and developing solutions that keep solar
            panels clean, preventing losses due to dirt buildup. This not only
            makes solar projects more efficient but also conserves water.
            <br /><br />
            We work closely with our customers from the start, understanding
            their needs and developing products and services that enhance their
            efficiency. Our offerings also contribute to a healthier
            environment.
          </p>

          <div class="text-center">
            <div class="grid lg:grid-cols-2 gap-3">
              <div class="grid grid-cols-2 lg:grid-cols-1 gap-3">
                <figure class="relative w-full h-60">
                  <img
                    class="w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                    src="/devikot_site_3.jpg"
                    alt="Image Descriptio1"
                  />
                </figure>
                <figure class="relative w-full h-60">
                  <img
                    class="w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                    src="/devikot_site_3.jpg"
                    alt="Image Description2"
                  />
                </figure>
              </div>
              <figure class="relative w-full h-72 sm:h-96 lg:h-full">
                <img
                  class="w-full h-full absolute top-0 left-0 object-cover rounded-xl"
                  src="/devikot_site_3.jpg"
                  alt="Image Description3"
                />
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
