<section>
  <!-- Hero -->
  <div class="overflow-hidden">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-20">
      <div class="relative mx-auto max-w-4xl grid space-y-5 sm:space-y-10">
        <!-- Title -->
        <div class="text-center">
          <p
            class="text-xs font-semibold text-gray-500 tracking-wide uppercase mb-3 dark:text-gray-200"
          >
            SudoYantra India
          </p>
          <h1
            class="text-3xl text-gray-800 font-bold sm:text-5xl lg:text-6xl lg:leading-tight dark:text-gray-200"
          >
            An emerging startup specializes in providing
            <span class="text-blue-500">Solar Panel Cleaner</span>
            Robots
          </h1>
        </div>
      </div>
    </div>
    <!-- Clients -->
    <div
      class="max-w-[85rem] flex flex-col items-center px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto"
    >
      <!-- Grid -->
      <div
        class="my-8 md:my-16 max-w-[80vw] flex flex-wrap sm:flex sm:justify-center gap-6 sm:gap-x-12 lg:gap-x-20"
      >
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/devikot_site_2.jpg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/site/Devikot_site1.jpg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/site/devikot_site3.jpg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/site/devikot_site2.jpg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/app-1.jpeg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/app-2.jpeg"
        />
        <img
          class="flex-shrink-0 transition hover:-translate-y-1 h-44 mx-auto sm:mx-0"
          src="/devikot_site_6.jpg"
        />
      </div>
      <!-- End Grid -->

      <!-- Grid -->
      <div
        class="grid grid-cols-12 sm:flex sm:justify-center gap-6 sm:gap-x-12 lg:gap-x-20"
      >
        <div class="col-span-6 text-center">
          <h4
            class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200"
          >
            250+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">Components</h4>
        </div>
        <!-- End Col -->

        <div class="col-span-6 text-center">
          <h4
            class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200"
          >
            160+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">
            Starter Pages & Examples
          </h4>
        </div>
        <!-- End Col -->

        <div class="col-start-4 col-span-6 text-center">
          <h4
            class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200"
          >
            10+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">
            Tailwind CSS Plugins
          </h4>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Clients -->
  </div>
</section>
