<section>
  <!-- Hero -->
  <div class="overflow-hidden">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-20">
      <div class="relative mx-auto max-w-4xl grid space-y-5 sm:space-y-10">
        <!-- Title -->
        <div class="text-center">
          <p
            class="text-xs font-semibold text-secondary tracking-wide uppercase mb-3 dark:text-gray-200"
          >
            SudoYantra India
          </p>
          <h1
            class="text-3xl text-gray-800 font-bold sm:text-5xl lg:text-6xl lg:leading-tight dark:text-gray-200"
          >
            An emerging startup specializes in providing
            <span class="text-primary">Solar Panel Cleaner</span>
            Robots
          </h1>
        </div>
      </div>
    </div>
    
  </div>
</section>
