<section>
  <!-- Hero -->
  <div class="overflow-hidden">
    <div class="max-w-[85rem] mx-auto px-4 sm:px-6 lg:px-8 py-20">
      <div class="relative mx-auto max-w-4xl grid space-y-5 sm:space-y-10">
        <!-- Title -->
        <div class="text-center">
          <p class="text-xl font-bold text-blue-500 tracking-wide uppercase mb-3 dark:text-gray-200 -ml-12 ">
            SudoYantra India
          </p>
          <h1 class="text-3xl text-gray-800 font-bold sm:text-5xl lg:text-6xl lg:leading-tight dark:text-gray-200">
            An emerging startup specializes in providing
            <span class="text-blue-500">Solar Panel Cleaner</span>
            Robots
          </h1>
        </div>
      </div>
    </div>
    <!-- Clients -->
    <div class="max-w-[85rem] flex flex-col items-center px-4 py-10 sm:px-6 lg:px-8 lg:py-14 mx-auto">
      <!-- Grid -->
      <div class="dbox my-8 md:my-16 flex flex-wrap sm:flex sm:justify-center gap-6 sm:gap-x-12 lg:gap-x-20">
        <span style="--i:1"> <img src="/devikot_site_2.jpg" alt="site"></span>
        <span style="--i:2"> <img src="/site/Devikot_site1.jpg" alt="site"></span>
        <span style="--i:3"> <img src="/site/devikot_site3.jpg" alt="site"></span>
        <span style="--i:4"> <img src="/site/devikot_site2.jpg" alt="site"></span>
        <span style="--i:5"> <img src="/app-1.jpeg" alt="site"></span>
        <span style="--i:6"> <img src="/app-2.jpeg" alt="site"></span>
        <span style="--i:7"> <img src="/site/devikot_site3.jpg" alt="site"></span>
        <span style="--i:8"> <img src="/site/devikot_site2.jpg" alt="site"></span>


      </div>
      <!-- End Grid -->

      <!-- Grid -->
      <div class="grid grid-cols-12 sm:flex sm:justify-center gap-6 sm:gap-x-12 lg:gap-x-20 mt-28">
        <div class="col-span-6 text-center">
          <h4 class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200">
            250+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">Components</h4>
        </div>
        <!-- End Col -->

        <div class="col-span-6 text-center">
          <h4 class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200">
            160+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">
            Starter Pages & Examples
          </h4>
        </div>
        <!-- End Col -->

        <div class="col-start-4 col-span-6 text-center">
          <h4 class="text-xl md:text-3xl font-semibold text-gray-800 dark:text-gray-200">
            10+
          </h4>
          <h4 class="text-sm text-gray-600 dark:text-gray-400">
            Tailwind CSS Plugins
          </h4>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Grid -->
    </div>
    <!-- End Clients -->
  </div>
</section>