@tailwind base;
@tailwind components;
@tailwind utilities;



.section {
  position: relative;
  width: 100%;
  height: 100%;
  background: #3586ff;
  overflow: hidden;
}
.section .air {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: url(https://1.bp.blogspot.com/-xQUc-TovqDk/XdxogmMqIRI/AAAAAAAACvI/AizpnE509UMGBcTiLJ58BC6iViPYGYQfQCLcBGAsYHQ/s1600/wave.png);
  background-size: 1000px 100px;
}
.section .air.air1 {
  animation: wave 30s linear infinite;
  z-index: 1000;
  opacity: 1;
  animation-delay: 0s;
  bottom: 0;
}
.section .air.air2 {
  animation: wave2 15s linear infinite;
  z-index: 999;
  opacity: 0.5;
  animation-delay: -5s;
  bottom: 10px;
}
.section .air.air3 {
  animation: wave 30s linear infinite;
  z-index: 998;
  opacity: 0.2;
  animation-delay: -2s;
  bottom: 15px;
}
.section .air.air4 {
  animation: wave2 5s linear infinite;
  z-index: 997;
  opacity: 0.7;
  animation-delay: -5s;
  bottom: 20px;
}
@keyframes wave {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: 1000px;
  }
}
@keyframes wave2 {
  0% {
    background-position-x: 0px;
  }
  100% {
    background-position-x: -1000px;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 7));
  }
}


.slider2 {
  background: white;
  box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 0.125);
  height: 250px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: 100vw;
}
.slider2::before,
.slider2::after {
  content: "";
  height: 70vh;
  position: absolute;
  width: 200px;
  z-index: 2;
}

.slider2::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}

.slider2::before {
  left: 0;
  top: 0;
}

.slider2 .slide-track {
  animation: scroll 14s linear infinite;
  display: flex;
  width: calc(250px * 14);
}

.slider2 .slide {
  display: flex;
  align-items: flex-end;
  height: 100%;
  width: 100%;
}

@import url("https://fonts.googleapis.com/css?family=Heebo:800");

.parent {
  width: 100vw;
  height: 70vh;
  position: relative;
  justify-content: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  margin: 0 !important;
  overflow: hidden;
  border-radius: 0px;
}

.button {
  position: absolute;
  z-index: 50;
  width: 40px;
  overflow: hidden;
  height: 40px;
  border: none;
  border-radius: 50%;
  background: #fff;
  cursor: pointer;
  -webkit-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
  box-shadow: 0 0 88px 5px rgba(0, 0, 0, 0.75);
}
.button:focus {
  outline-width: 0;
}
circle {
  stroke: transparent;
  fill: none;
  transition: 0.3s;
}
#svg1 circle {
  transition-timing-function: linear;
}
#svg2 circle {
  transition-timing-function: linear;
}
#Capa_1 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-7px, -8px);
}
#Capa_2 {
  position: absolute;
  width: 16px;
  height: 16px;
  transform: translate(-9px, -8px);
}
.right {
  margin-left: 628px;
  margin-top: 168px;
  border: 1px solid white;
  background-color: white;
  transition: 0.2s;
}
.right:hover {
  background-color: black;
}
.left {
  margin-left: 0.5%;
  margin-top: 168px;
  border: 1px solid white;
  background-color: white;
  transition: 0.2s;
}
.left:hover {
  background-color: black;
}


/* .slide1 {
  background-image: url("/site/devikot_site4.jpg");
}
.slide2 {
  background-image: url("/devikot_site6.jpg");
}
.slide3 {
  background-image: url("/site/seasonaltilt-plant.jpg");
}
.slide4 {
  background-image: url("/site/devikot_site3.jpg");
}
.slider {
  position: absolute;
  width: 400%;
  height: 100%;
  padding: 0;
  margin: 0 !important;
  display: inline-flex;
  overflow: hidden;
}
.slide1,
.slide2,
.slide3,
.slide4 {
  position: absolute;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 62px;

  font-weight: 800;
  font-family: "Heebo", sans-serif;
  text-align: center;
  width: 25%;
  height: 100%;
  z-index: 10;
  transition: 1.2s;
} */
.tran {
  transform: scale(1.1);
}
.up1 {
  z-index: 20;
}
.up2 {
  z-index: 40;
}
.steap {
  stroke-width: 0;
}
.streak {
  stroke-width: 82px;
}
@media (max-width: 700px) {
  .parent {
    margin-left: 1%;
  }
}

#button {
  display: inline-block;
  background-color: #000000d8;
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 5px;
  position: fixed;
  bottom: -20px;
  right: -20px;
  transition: background-color .3s, 
    opacity .5s, visibility .5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}
#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 47.5px;
  color: #fff;
}
#button:hover {
  cursor: pointer;
  background-color: #333;
}
#button:active {
  background-color: #555;
}
#button.show {
  opacity: 1;
  visibility: visible;
}

#button {
    margin: 30px;
}

/* navbar css */
#first-nav {
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

#first-nav.hidden {
  opacity: 0;
  display: hidden;
}

/* second-nav should have position fixed in the default state */
#second-nav {
  position: fixed; 
  top: 0;
  z-index: 500;
  opacity: 0; 
  visibility: hidden; 
}

/* Visible state for second-nav */
#second-nav.visible {
  opacity: 1;
  visibility: visible;
}

/* close scrolling while on nav menu */
.no-scroll {
  overflow: hidden;
  height: 100vh; /* Ensure page doesn’t scroll */
}